button, .btn-default {
	border: 1px solid white;
	border-radius: 4px !important;
	color: white !important;
	padding: 4px 10px !important;
	font-size: 16px !important;
	position: relative !important;
	box-sizing: border-box !important;
	z-index: 1 !important;
	background-color: #242540 !important;
}

button:hover, .btn-default:hover, button:focus, .btn-default:focus {
  border-color: white;
  outline: none;
}

button:after, .btn-default:after {
	content:'';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	transform: scaleY(0);
	transform-origin: bottom center;
	background: #18BC9C;
	transition: all 0.2s ease;
	z-index: -1;
}

button:hover:after, .btn-default:hover:after, button:focus:after, .btn-default:hover:after {
	transform: scaleY(1);
}


img.img-rounded {
	border-radius: 2px;
}

p.post-title + img {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
button#megusta {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border: none;
}
/***************************************/
html, body, #barraSesion {
	max-width: 100%;
	overflow-x: hidden;
}
body {
	background-color: #eef3f6 !important;
}
.form-login
{
	min-width: 270px;
	max-width: 270px;
	/*margin: auto;*/
}
form#editarUsuarioForm div.col-xs-3 {
	margin-bottom: 5px;
}
.margin-auto
{
	margin: auto;
}
div#club-sidepanel div.list-group {
	margin-top: 10px;
}
div#club-sidepanel + div {
	padding-left: 0px;
	padding-right: 0px;
}
div#options-panel-xs button {
	margin-bottom: 5px;
}
.sidepanel{
	float: right;
	width: 200px;
	margin-bottom: 20px !important;
}
div.subs-list > a.list-group-item img, div.clubes-list > a.list-group-item img {
	margin-right: 10px;
	border-radius: 2px;
}
.sidepanel .list-group-item{
	width: 100%;
}
.sidepanel a {float: right;}
.nav-diver, .nav-diver a, .panel-heading, li.list-group-item, .modal-header {
	background-color: #242540 !important;
	border-color: #090910 !important;
	color: white !important;
}

.nav-diver {
	border-radius: 0px;
}

.navbar-diver-logo {
	text-align: center;
	margin: 1em 0;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar-diver-logo > .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.navbar-diver-logo img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.modal-header>.close {
	opacity: 1;
}

.modal-body {
	color: #404272;	
}

.modal-body label {
	color: #404272;
}

.panel-heading {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
 
.navbar-brand, .dropdown-toggle, .nav-link, .dropdown-menu > li > a {
	position: relative;
	z-index: 1;
}

.navbar-brand::after, .dropdown-toggle::after, .nav-link::after, .dropdown-menu > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #18BC9C;
    z-index: -1;
    transition: transform 0.1s;
}

.navbar-brand:hover::after, .dropdown-toggle:hover::after, .nav-link:hover::after, .dropdown-menu > li > a:hover::after {
	transform: scaleY(1);
}

input[type="text"], 
input[type="password"], 
input[type="date"], 
input[type="email"] {
	border: none;
	border-bottom: #242540 solid 2px;
	border-radius: 0px;
	box-shadow: none;
	color: #090910;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="date"]:focus, 
input[type="email"]:focus {
	outline: none;
	border-bottom: #7c7eb6 solid 2px;
	box-shadow: none;
}

input[type="text"]::placeholder, 
input[type="password"]:placeholder, 
input[type="date"]:placeholder, 
input[type="email"]:placeholder {
	color: #adaed1;
}

.club-header {
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;

	margin-bottom: 20px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.club-header img {
	position: absolute;
	width: 100%;
    position: relative;
    top: 50%;
    margin-top: -50%;
}

div.club-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background: rgba(26,27,64,0.5);
}

div.club-title p {
	opacity: 1;
	color: white;
	position: absolute;
	transform: translate(20%, -50%);
	font-size: 14pt;
	margin: 18px 0px 18px;
}
div.club-title p + p {
	font-size: 10pt;
	transform: translate(100%, -50%);
	margin: 18px 0px 18px;
}
p.club-desc {
	font-size: 14pt;
	font-weight: normal;
	color: #242540;
}
p.club-desc.visible-xs-block {
	font-size: 12pt;
}

.shadow, div.comment-helper .form-group {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.34);
}

.one-edge-shadow {
	box-shadow: 0 7px 6px -6px black;
}

div.container > div.row {
	margin-left: 0px;
	margin-right: 0px;
}

div.container-diver, div.container-comments {
	margin-bottom: 20px;
	background-color: white;
}

div.container-diver {
	padding: 10px 10px;
}

div.container-comments {
	padding: 10px;
}

div.comment-helper .form-group label {
	display: none;
} 

div.comment-helper .list-group .list-group-item {
	background-color: white !important;
	border: none;
	color: #242540 !important;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.34);
}

div.comment-helper .list-group .list-group-item > img {
	margin-right: 10px;
}

div.container-comments textarea, div.comment-helper .form-group textarea {
	max-width: 99%;
	width: 600px;
	height: 100px;
	margin-bottom: 10px;
}

div.container-comments textarea:focus, div.comment-helper .form-group textarea:focus {
	outline: none !important;
	border: 1px solid #7c7eb6;
	box-shadow: 0 0 10px #7c7eb6;
	color: #242540;
}
div.container-post {
	width: 100%;
	max-width: 900px;
}
@media (min-width: @screen-sm-min) {
	div.container-post {
		width: 80%;
		max-width: 900px;
	}
}

div.horizontal {
	display: flex;
	justify-content: center;
}

div.vertical {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

div.post {
	background-color: white;
	padding: 10px;
	margin-bottom: 20px;
}

p.post-title {
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}
p.post-desc {
	margin-top: 5px;
	font-size: 12pt;
}
p.post-title, p.post-desc {
	color: #242540;
}

img.post-img {
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	border-radius: 4px;
}

form#form-comentar textarea {
	resize: none;
}

div.comment-helper ul.list-group a[comentario] {
	margin: 0px 2px;
}

form.form-editarComentario button[type="submit"] {
	margin-top: 4px;
	margin-right: 2px;
}

div.comment-helper .form-group {
	margin-bottom: 20px;
	background-color: white;
	padding: 10px;
}

div.publicacion-thumbnail{
	padding: 1px;
}
div.publicacion-thumbnail div.caption{
	padding-bottom: 0;
	padding-top: 0;
}

div.publicacion-thumbnail a.thumbnail, 
div.publicacion-thumbnail p{
	margin-bottom: 0;
}

div.publicacion-thumbnail a.thumbnail{
	padding-top: 100%;
}

div.publicacion-thumbnail img{
	position: absolute;
	top: 3%;
	left: 5%;
	width: 90%;
}

div.club-thumbnail img{
	vertical-align: bottom;
}

div.club-thumbnail p{
	font-weight: bold;
}

div.club-thumbnail hr, div#club-sidepanel hr {
	margin-top:0;
	margin-bottom: 10px;
}
.usuario-button {
	background: transparent !important;
	border-color: #7d7fb5 !important;
	position: relative;
	width: 100%;
	height: 40px;
	text-align: left;
	padding: 1px;
	color: SlateGrey !important;
	margin-bottom: 6px;
}
.usuario-button:hover{
	background: AliceBlue !important;
}
.usuario-button img{
	height: 95%;
	margin-top: 1px;
	margin-left: 1px;
}
.usuario-button p{
    position: absolute;
	width: 80%;
	margin: 0;
	/*height: 36px;*/
	margin-left: 40px;
    bottom: 0;
    font-weight: bold;
}
.usuario-button span {
	margin-right: 5px;
	margin-top: 5px;
	font-size: 13pt;
}
#megusta.procesando{
	background-color: #404040 !important;
}
p.badge {
	margin: 0% 50%;
	transform: translateX(-50%);
	background-color: #242540 !important;
}
div.caption > p {
	text-align: center;
}
#barraSesion form.navbar-form input[type="text"], #barraSesion form.navbar-form button {
	margin-left: 10px;
}
#barraSesion form.navbar-form input[type="text"] {
	width: 230px;
	border-radius: 2px !important;
}
div.navbar-header button {
	height: 100%;
	margin-right: 10px;
	margin-top: 5px;	
	padding-top: 5px !important;
}
div.navbar-header button.navbar-toggle {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: white;
}